{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Try Django 3.2</title>
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
</head>
<body>
  {% include "navbar.html" %}


  <div class="container">

    <div class="row section">
      <form action="{% url 'articles:search_article' %}" method="get" class="col s12 m6 offset-m6">
        <input type="text" name="q" id="q" placeholder="Search articles" />
        <input type="submit" value="Submit" class="btn" />
      </form>
    </div>

    {% block content %}{% endblock content %}
  </div>


</body>
</html>