<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Try Django 3.2</title>
  </head>
  <body>
    <h1>Hello..I am trying django 3.2!</h1>

    <form action="{% url 'articles:search_article' %}" method="get">
      <input type="text" name="q" id="q" />
      <input type="submit" value="Submit" />
    </form>
    {% block content %}{% endblock content %}
  </body>
</html>
